@charset "UTF-8";

@media screen and (min-width: 640px) {
.onsp { display: none; }
}

@media screen and (max-width: 640px) {
  .onpc { display: none; }

  html {
    font-size: 55%;
  }

  .inner {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
  }

.menu .closebtn {
  display: inline-block;
  float: right;
  font-size: 1.8rem;
  margin-top: -20px;
  margin-right: -50px;
}

.menu {
  height: auto;
  margin: 40px 40px;
  padding: 0 20px;
}

.menu h2 {
  height: auto;
  margin-top: 0;
  width: 55%;
  display: inline-block;
  margin: 30px 60px;
}

.menu ul {
  width: auto;
}

.menu-items {
  margin: 0 20px;
}

.menu-items .menuIcon {
  float: left;
  width: 20%;
  height: 80px;
}

.menu-items li img {
  display: inline-block;
  height: 60px;
  vertical-align: middle;
}
